#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_configure:
	# Do nothing

override_dh_auto_build:
	# Do nothing

override_dh_auto_install:
	# Do nothing

override_dh_auto_clean:
	# Do nothing
